@import './mixins/flex';

nav {
  ul {
    @include flex(row, 2rem);

    width: 100%;
    list-style: none;
    padding: 1rem 2rem;

    button {
      border: 0;
      background-color: inherit;
      font-size: 1rem;
    }

    .dropdown {
      position: relative;

      ul {
        position: absolute;
        top: 140%;

        @include flex(column, 0.5rem, start);

        box-shadow: 1px 1px 20px #ababab;
        border-radius: 8px;
        width: auto;
        padding: 0.75rem;
        text-align: start;
        background-color: #fff;

        li {
          padding: 0.25rem;
        }
      }
    }
  }
}
